* {
    padding: 0px;
    margin: 0px;
}

#container {
    padding: 20px;
    height: 400px;
    width: 510px;
    background-color: rgb(224, 135, 135);
    display: flex;
    flex-direction: row;
}

#single img {
    height: 395px;
    width: 250px;
    border-style: solid;
    border-inline-end-color: black;
}

#double img {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 194px;
    border-style: solid;
    border-inline-end-color: black;
}